<a href="https://colab.research.google.com/github/ReshamWadhwa/ML-models/blob/main/src/models/linear_regression/code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
# data set - https://www.kaggle.com/andonians/random-linear-regression?select=train.csv

In [6]:
data_train = pd.read_csv("train.csv")
data_test = pd.read_csv("test.csv")

In [7]:
data_train.head()

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

In [8]:
data_train.shape

(700, 2)

In [9]:
data_test.shape

(300, 2)

In [10]:
data_train.describe()

                 x           y
count   700.000000  699.000000
mean     54.985939   49.939869
std     134.681703   29.109217
min       0.000000   -3.839981
25%      25.000000   24.929968
50%      49.000000   48.973020
75%      75.000000   74.929911
max    3530.157369  108.871618

In [16]:
data_train.loc[data_train.y.isna()]

# Removing this outlier

data_train = data_train.loc[~data_train.y.isna()]
data_train.shape

(699, 2)

In [17]:
data_test.describe()

                x           y
count  300.000000  300.000000
mean    50.936667   51.205051
std     28.504286   29.071481
min      0.000000   -3.467884
25%     27.000000   25.676502
50%     53.000000   52.170557
75%     73.000000   74.303007
max    100.000000  105.591837

In [99]:
import math
import numpy as np
lr1 = LinearRegression()
lr1.fit(data_train[['x']], data_train['y'])

y_pred1 = lr1.predict(data_test[['x']])
y_actual = data_test['y']

mae1 = mean_absolute_error(y_actual, y_pred1)
rmse1 = mean_squared_error(y_actual, y_pred1)
print(lr1.coef_, lr1.intercept_)
print(mae1)
print(rmse1)
print(pd.DataFrame(y_pred1).describe())
print(lr1.rank_)

[1.00065638] -0.10726546430097272
2.415771850041258
9.432922192039305
                0
count  300.000000
mean    50.862835
std     28.522995
min     -0.107265
25%     26.910457
50%     52.927523
75%     72.940650
max     99.958373
1

In [130]:
class LinearRegression2:

  X = None
  Y = None
  b = None
  learning_rate = None
  iterations = None

  def __init__(self, learning_rate=0.01, iterations=10):
    self.learning_rate = learning_rate
    self.iterations = iterations

  def initial_weights(self):
     # weight initialization
      self.W = np.zeros( self.n )
      self.b = 0
      

  def fit( self, X, Y ) :
      # print(X)
      # no_of_training_examples, no_of_features
      self.m, self.n = X.shape
      self.X = X
      self.Y = Y
      print(self.m,self.n, self.X.shape, self.Y.shape)
      self.initial_weights()

      # gradient descent learning   
      for i in range( self.iterations ) : 
          if i%100==0:  
              print("Iteration ",i, "W:",self.W,", b:",self.b) 
          self.update_weights()
            
      return self


  def predict(self,x) :
    return np.dot(x,self.W)+self.b
       

  def update_weights( self ) :
             
        error = 0
        y_pred = self.predict(self.X)
        # print(y_pred, self.Y)
        error = y_pred - self.Y
        
        self.grad_w = np.dot(self.X.T,error) / self.m
        self.grad_b = np.dot(np.ones(self.Y.shape).T,error) / self.m
        
        # print(self.error)
        dW = -1*self.learning_rate*self.grad_w
       
        db = -1*self.learning_rate*self.grad_b
          
        # update weights
      
        self.W = self.W + dW
        self.b = self.b + db
        
        return self

In [133]:
lr2 = LinearRegression2(iterations=400, learning_rate=0.0001)
lr2.fit(data_train[['x']], data_train['y'])

y_pred2 = lr2.predict(data_test[['x']])
y_actual = data_test['y']

mae2 = mean_absolute_error(y_actual, y_pred2)
rmse2 = mean_squared_error(y_actual, y_pred2)
print(lr2.W)
print(mae2)
print(rmse2)
print(pd.DataFrame(y_pred2).describe())

699 1 (699, 1) (699,)
Iteration  0 W: [0.] , b: 0
Iteration  100 W: [0.99882975] , b: 0.014658108311688395
Iteration  200 W: [0.99883433] , b: 0.01435282753990587
Iteration  300 W: [0.99883889] , b: 0.014048311151479434
[0.99884344]
2.4185096015603462
9.456950432019797
                0
count  300.000000
mean    50.891500
std     28.471319
min      0.013745
25%     26.982517
50%     52.952447
75%     72.929316
max     99.898088

In [134]:
class LinearRegression3() :
      
    def __init__( self, learning_rate=0.0001, iterations=100 ) :
          
        self.learning_rate = learning_rate
          
        self.iterations = iterations
          
    # Function for model training
              
    def fit( self, X, Y ) :
          
        # no_of_training_examples, no_of_features
          
        self.m, self.n = X.shape
          
        # weight initialization
          
        self.W = np.zeros( self.n )
          
        self.b = 0
          
        self.X = X
          
        self.Y = Y
          
          
        # gradient descent learning
                  
        for i in range( self.iterations ) :
              
            self.update_weights()
              
        return self
      
    # Helper function to update weights in gradient descent
      
    def update_weights( self ) :
             
        Y_pred = self.predict( self.X )
          
        # calculate gradients  
      
        dW = - ( 2 * ( self.X.T ).dot( self.Y - Y_pred )  ) / self.m
       
        db = - 2 * np.sum( self.Y - Y_pred ) / self.m 
          
        # update weights
      
        self.W = self.W - self.learning_rate * dW
      
        self.b = self.b - self.learning_rate * db
          
        return self
      
    # Hypothetical function  h( x ) 
      
    def predict( self, X ) :
      
        return X.dot( self.W ) + self.b

In [135]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

lr3 = LinearRegression3()
lr3.fit(data_train[['x']], data_train['y'])

y_pred3 = lr3.predict(data_test[['x']])
y_actual = data_test['y']

mae3 = mean_absolute_error(y_actual, y_pred3)
rmse3 = mean_squared_error(y_actual, y_pred3)
print(lr3.W)
print(mae3)
print(rmse3)
print(y_pred3.describe())

x    0.998834
dtype: float64
2.418523362999354
9.457088807807896
count    300.000000
mean      50.891644
std       28.471059
min        0.014353
25%       26.982880
50%       52.952572
75%       72.929259
max       99.897785
dtype: float64